@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    ul {
        list-style: none;
    }

    .clearfix {
        zoom: 1;
    }

        .clearfix:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            line-height: 0;
            visibility: hidden;
        }

    .news-main {
        width: 850px;
        margin: 10px auto;
    }
    .info-list li {
        border-bottom: 1px dashed #f44336;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }
        .info-list li:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

    .image {
        float: left;
        width: 100px;
    }

        .image img {
            border-radius: 6px;
        }

    .detail {
        float: right;
        padding-top: 3px;
        width: 620px;
    }

        .detail h3 {
            color: #1f1f1f;
            margin-bottom: 6px;
            font-size: 18px;
        }
</style>
<section class="news-main">
    <ul class="info-list">
        @foreach (var postModel in Model.postsModel)
        {
            <li class="clearfix">
                <div class="image"><img src="../images/img_100x100.png" alt="@postModel.Title"></div>
                <section class="detail">
                    <h3><a href="\Posts\View?ID=@postModel.ID">@postModel.Title</a></h3>
                    <p>@postModel.Description</p>
                </section>
            </li>
        }
    </ul>
</section>